/*  ------ Reset CSS  ------ */

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/

/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

/*--STRUCTURE--------------------------------------------*/
body{
	background: white;
	font-family: arial, helvetica, sans-serif, serif;
	text-align: center;
	margin: 0;
}

*{
    box-sizing: border-box;
}

img{
	max-width: 100%;
	display: block;
}


main, .contenair{
	max-width: 1200px;
	margin: 0 auto;
}

h1{
	margin: 0;
}

h2{
	margin: 0;
}

label{
	margin-top: 10px;
}

input{
	margin-top: 10px
}

/*--HEADER--------------------------------------------*/
header{
	display: block;
	background: #E0ECE0;
	color: #17980A;
	border: 4px #FD8129 solid;
	padding: 30px 810px 0px 0px;
}
/*--NAV--------------------------------------------*/
.menu{
	width: 100%;
	text-align: center;
}

.menu ul li{
	display: inline-block;
	position: relative;
}

.menu ul li.sous-menu > a:after{
	content: "↓";
	position: relative;		
}

/* Sous menu */
.menu ul ul{
	position: absolute;
	top: 100%;
	border: 1px solid #CCC;
	display: none;
}

.menu ul ul li{
	display: block;
	text-align: center;
}

/* Au survol, on affiche la sous liste */
.menu ul li:hover ul{
	display: block;
	background: white;
	padding: 0px;	
}

.nav{
	display: block;
	padding: 20px 10px;
	text-transform: uppercase;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
}

a:hover{	
	color: #555;
	background: #f1f1f1;
}

/*--ARTICLE--------------------------------------------*/
article{
	display: block;
	border: 1px black solid;
	margin: 5px 0px;
	padding: 5px;
	overflow: hidden;
}

.block1{
	display: block;
	width: 79.5%;
	padding: 5px 5px;
	float: left;
	text-align: left;
	border: 1px black solid;
}
.block2{
	display: block;
	width: 20%;
	padding: 5px 5px;
	float: right;
	text-align: left;
	border: 1px black solid;
}


/*-- BLOC ARTICLE-----------------------------------------*/

.clearfix:after{
content:"";
display: block;
clear: both;
}

.floatLeft{
	display: inline-block;
	float:left;
	overflow: hidden;
}

.floatRight{
	display: inline-block;
	float: right;
	overflow: hidden;
}

.noMarginBottom{
	margin-bottom: 0px;
}

/*-- BLOC PRODUITS-----------------------------------------*/

/*
figure{
	margin:15px;
	padding-top:15px;
}
*/

.blocHome{
	display: block;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	padding:14px;
	background-color: #E0ECE0;
	box-shadow: 0px 0px 0.7em #768976;
	border: 0.5px #345134 solid;
}

.imageHome{
	margin: 0 auto;
	width:100%;
	box-shadow: 0px 0px 0.5em #78A378;
	border: 0.5px #345134 solid;
}


.textCenter{
	width:100%;
	text-align: center;
	margin: 0 auto;
}

.prixHome{
	display: inline-block;
	margin:0px;
	font-size:4em;
	font-weight: bold;
	color:#17980A;
}

.devisePoids{
	padding-left: 10px;	
	display: inline-block;
	margin:0px;
	font-size:2rem;
	margin-bottom: 8px;
	font-style: italic;
	color:#345134;
}

.nameHome{	
	margin:0px;	
	font-size:2em;
	margin-bottom: 5px;
	color:#345134;	
}

.descriptHome{
	margin:0px;
	padding-left: 10px;
	padding-right: 10px;
	font-size:1em;	
}

.boutonPanier{margin: 12px 12px 0px 20px;}
.boutonPanier:hover{box-shadow: 0px 0px 1.5em #619B61;}

/*-- BLOC CADDY-----------------------------------------*/

.blocCaddy{
	border: 1px #345134 solid;
	display: block;
	width: 85%;
/*	text-align: center;
*/	margin: 0 auto;
	padding:10px 20px 10px 12px;
	background-color: #E0ECE0;
	box-shadow: 0px 0px 1.5em #768976;
	overflow: hidden;
}

.imageCaddy{
	display: block;
	width:55%;
	margin:10px;
	float:left;
	border: 1px #345134 solid;
	box-shadow: 0px 0px 0.5em #78A378;
}

.prixCaddy{
	font-size:7.5em;
	font-weight: bold;
	color:#17980A;
	overflow: hidden;
}


.devisePoidsCaddy{
	margin:0px;
	font-size:2.5rem;
	font-style: italic;
	color:#345134;
	overflow: hidden;
}

.nameCaddy{
	display: inline-block;	
	margin-top:20px;	
	font-size:4em;
	margin-bottom: 10px;
	color:#345134;
	overflow: hidden;	
}

.descriptCaddy{
	margin:0px 20px 0px 0px;
	padding:0px;
	width: 40%;
	font-size:1.4em;
	text-align: justify;
	overflow: hidden;	
}

.formCaddy{
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 14px;
	width: 40%;
	font-size:1.7em;
	overflow: hidden;	
}

.indicCaddy{
	margin-top: 10px;
	color:#17980A;
	margin-bottom: 0px;
}

.quantCaddy{
	text-align:center;
	width:500px;
	height:50px;
 	font-size:1em;
 	margin: 10px 12px 8px 20px;
	border: 4px #17980A solid;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0.5em #A3CBA3;
}
.inputCaddy:hover{	box-shadow: 0px 0px 0.8em #78A378; }

.suppCaddy{
	text-align:center;
	width:500px;
	height:50px;
 	font-size:1em;
 	margin: 20px 12px 8px 20px;
 	border: 4px #E43C3C solid;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0.3em #EE8D8D;
}
.suppCaddy:hover{	box-shadow: 0px 0px 0.8em #E43C3C; }


/*--FORMULAIRE--------------------------------------------*/
.formulaire{
	display: inline-block;
	background: #E0ECE0;
	color: #17980A;
	vertical-align: top;
	text-align: right;
	width: 40%;
	border: 4px #FD8129 solid;
	border-radius: 0px 20px 0px 20px;
	padding: 10px 40px 10px 0px;
	margin: 0px 40px;
}
/*--404--------------------------------------------*/
.error{
	display: block;
	border: 1px black solid;
	background: white;
	padding: 5px 5px;
	margin: 5px 0px;
	padding: 0% 30%;
}
.big{
	font-size: 100px;
}
/*--FOOTER--------------------------------------------*/
footer{
	display: block;
	border: 1px black solid;
}